---
import type { Project } from '../data/projects';

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div
  class="project-item"
  onclick={project.external
    ? `window.open('${project.url}', '_blank')`
    : undefined}
  style={project.external ? 'cursor: pointer' : undefined}
  role={project.external ? 'button' : undefined}
  tabindex={project.external ? 0 : undefined}
>
  <img src={project.image} alt={project.title} loading="lazy" />
  <h3>{project.title}</h3>
  <p class="description">{project.description}</p>
  <p class="description"><strong>Tags:</strong> {project.tags.join(', ')}</p>
</div>
